/* Write your CSS here */
.bg-container {
  background-size: cover;
  display: flex;
  height: 100vh;
}
.cards-container {
  background-color: #475569;
  background-size: cover;
  width: 60%;
  padding: 20px;
}

.heading {
  color: white;
  margin-left: 20px;
}
.ul-list {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}
.bottom-card {
  width: 40%;
  padding: 20px;
}
